[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "linelistBayes"]
	path = linelistBayes
	url = https://github.com/cmilando/linelistbayes
